################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Nettside/ViewModels/VerifyEmailViewModel.cs
/Nettside/.vs/Nettside/FileContentIndex/1b5b51a4-75aa-416b-99f5-48a1ea101125.vsidx
/Nettside/.vs/Nettside/FileContentIndex/21fcfb47-16d5-4d4f-b290-fe303e608cdf.vsidx
/Nettside/.vs/Nettside/FileContentIndex/28b8f225-f5a9-45e5-9bc5-f3452856fb89.vsidx
/Nettside/.vs/Nettside/FileContentIndex/40707834-27f0-48fc-8947-42b1db3457a5.vsidx
/Nettside/Migrations/20241122122634_demo.cs
/Nettside/Migrations/20241122122634_demo.Designer.cs
/Nettside/Migrations/20241122141840_InitialTest.cs
/Nettside/Migrations/20241122141840_InitialTest.Designer.cs
/Nettside/Migrations/20250204122245_InitialTestAgain.cs
/Nettside/Migrations/20250204122245_InitialTestAgain.Designer.cs
/Nettside/ViewModels/ChangePasswordViewModel.cs
/Nettside/ViewModels/LoginViewModel.cs
/Nettside/ViewModels/MapReportViewModel.cs
/Nettside/ViewModels/ProfilePageViewModel.cs
/Nettside/Views/Account/VerifyEmail.cshtml
*.vsidx
/Nettside/.vs/Nettside/FileContentIndex/1b5b51a4-75aa-416b-99f5-48a1ea101125.vsidx
/Nettside/.vs/Nettside/FileContentIndex/21fcfb47-16d5-4d4f-b290-fe303e608cdf.vsidx
/Nettside/.vs/Nettside/FileContentIndex/28b8f225-f5a9-45e5-9bc5-f3452856fb89.vsidx
/Nettside/.vs/Nettside/FileContentIndex/40707834-27f0-48fc-8947-42b1db3457a5.vsidx
/Nettside/Migrations/20241122122634_demo.cs
/Nettside/Migrations/20241122122634_demo.Designer.cs
/Nettside/Migrations/20241122141840_InitialTest.cs
/Nettside/Migrations/20241122141840_InitialTest.Designer.cs
/Nettside/.vs/Nettside/FileContentIndex/1b5b51a4-75aa-416b-99f5-48a1ea101125.vsidx
/Nettside/Views/Account/VerifyEmail.cshtml
